$primary: #5534A5;
$gray: #C5C5C5;

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titles{
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }

    .resultCard{
        display: flex;
        justify-content: space-between;
        width: 50rem;
        margin: 2rem 0;

        &-image{
            display: flex;
            align-items: center;
            img {
                width: 12rem;
                height: 10rem;
            }
        }

        &-information{
            width: 33rem;
            
            &__rowInfo{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }

            &__name {
                font-weight: 400;
            }

            &__price {
                font-weight: 700;
                font-size: 1.2rem;
            }

        }
    }

    .pagination{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin-top: 3rem;
        p{
            margin: 0;
        }

        &-controls{
            display: flex;
            gap: 2rem;

            .control{
                display: flex;
                align-items: center;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}