<div class="main-content">
    <mat-stepper linear #stepper>

        <mat-step [stepControl]="identityForm">
          <form [formGroup]="identityForm">
            <ng-template matStepLabel>Identity</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Type of ID document</mat-label>
                <mat-select [(value)]="idDocumentType">
                  <mat-option value="Citizenship card">Citizenship card</mat-option>
                  <mat-option value="Passport">Passport</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>ID document Number</mat-label>
                <input matInput type="text" formControlName="idDocumentNumber" placeholder="Ex. Pizza">
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="personalInformationForm">
          <form [formGroup]="personalInformationForm">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>

      </mat-stepper>
</div>